<!DOCTYPE html>
<html lang="">
<head>
    <style>
        footer{
            margin-top: 8px;
        }
        footer p {
            margin: 4px 0
        }

        span {
            font-style: italic;
            font-size: 14px;
        }
    </style>
    <title>Ensue Nepal</title>
</head>
<body>
<div class="content">
    <h4>Dear, {{name}}!</h4>
    <p>We received a request to reset your password for your account.</p>
    <p>To reset your password, please click the link below:</p>
    <p><a href="{{url}}" target="_blank">Reset Password</a></p>
    <span>This link will expire in {{time}} hours</span>
</div>
<footer>
    <p>With Regards</p>
    <p>ENSUE Nepal</p>
    <p>Management Team</p>
</footer>
</body>
</html>
