<!DOCTYPE html>
<html lang="">
<head>
    <style>
        footer{
            margin-top: 8px;
        }
        footer p {
            margin: 4px 0
        }
    </style>
    <title>Ensue Nepal</title>
</head>
<body>
<div class="content">
    <h4>Dear, {{name}}!</h4>
    <p>To complete your registration and activate your account, please verify your email address by clicking the link below</p>
    <p><a href="{{url}}" target="_blank">Verify account</a></p>
    <p>Verifying your account helps us ensure that your account information is secure and allows you to fully access all the features and benefits we offer.</p>
</div>
<footer>
    <p>With Regards</p>
    <p>ENSUE Nepal</p>
    <p>Management Team</p>
</footer>
</body>
</html>
